* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    background-image: url('./assets/images/header.jpeg');
    background-position: center;
    color: #fff;
    width: 100%;
    padding: 2rem;
}

.bgWrap {
    background-image: url('./assets/images/texture.png');
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.headertitle {
    font-size: 3rem;
}

.headertext {
    font-size: 1.5rem;
}

nav {
    background-color: #43341B;
    z-index: -2;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 1rem;
}

nav ul li {
    display: flex;
}

nav ul li a {
    color: #BDC0BA;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: #fff;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section.left,
section.right {
    padding: 1.5rem;
    height: 70vh;
}

section.left {
    flex: 3 1 500px;
}

section.right {
    flex: 2 1 500px;
}

section.left img {
    width: 100%;
    max-height: 100%;
}

section.right img {
    width: 100%;
    max-height: 100%;
}

section.right iframe {
    width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

li .avtive {
    color: #fff;
}


/* 古今建築 */

.building {
    display: flex;
    flex-wrap: wrap;
}

.buildingbox {
    margin: 3rem 3rem;
    display: flex;
    align-items: center;
}

.buildingbox .buildinginfo {
    margin: 0 3rem;
}

.buildingbox img {
    max-width: 900px;
    max-height: 600px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.buildingbox img:hover {
    opacity: 1;
}

/* 古今歷史 */

.history {
    margin: 5rem;
}

/* 關於作者 */

.author {
    margin: 10rem;
}

/* media */

@media screen and (max-width: 1400px) {
    .building {
        display: flex;
        flex-wrap: wrap;
    }

    .buildingbox {
        margin: 1.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .buildingbox .buildinginfo {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 992px) {
    .building {
        display: flex;
        flex-wrap: wrap;
    }

    .buildingbox {
        margin: 1.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .buildingbox img {
        max-width: 600px;
        max-height: 400px;
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out;
    }

    .buildingbox .buildinginfo {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .building {
        display: flex;
        flex-wrap: wrap;
    }

    .buildingbox {
        margin: 1.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .buildingbox img {
        width: 400px;
        height: 200px;
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out;
    }

    .buildingbox .buildinginfo {
        margin-top: 1.5rem;
    }
}


@media(max-width: 767px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}